<div class="panel panel-info" style="border-color:#545454">
    <div class="panel-heading"
         style="background-color:#949494;border-color:#545454">
        <h3 class="panel-title">Our Sponsors</h3>
        <em>Please check out their websites to learn more about them.</em>
    </div>
    <div class="panel-body">
        <div id="sponsors" align="center">
            <div class="row">
                <div class="col-md-12">
                    <h4> Platinum Sponsor </h4>
                    <div align="center">
                        <a href="http://www.vantagepoint.sg/"
                           alt="Vantage Point Security Pte. Ltd.">
                            <img src="/img/vantage_point.png"
                                 style="width:70%;"
                                 alt="Vantage Point Security Pte. Ltd."/>
                        </a>
                    </div>
                    <br />
                    <h4> Gold Sponsors </h4>
                    <div align="center">
                        <a href="https://www.csa.gov.sg/"
                           alt="Cyber Security Agency">
                            <img src="/img/csa.jpg" style="width:33%"/
                                 alt="Cyber Security Agency">
                        </a>
                        <a href="http://cybertestsystems.com/"
                           alt="Cyber Test Systems">
                            <img src="/img/cyber_test_systems.png"
                                 style="width:55%;background-color:white;padding:20px;padding-left:8%"/
                                 alt="Cyber Test Systems">
                        </a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
