---
layout: default
title: Homepage
title_label: hide
post_scripts:
- /js/registration.js
startup_functions:
---

<div class="container">
    <div class="row">
        <div class="panel-group">
            <div class="alert" style="background-color: #EFEFEF">
                <div class="panel-heading" style="padding: 2px 2px 5px 2px">
                    <p align="center" class="panel-title">
                        <a data-toggle="collapse"
                           href="#collapse1">
                            Seen our awesome sponsors yet? No? Click me!
                        </a>
                    </p>
                </div>
                <div id="collapse1"
                     class="panel-collapse
                     collapse">
                    <div
                     class="panel-body">
                        <div class="col-md-8 col-md-offset-2">
                            {% include sponsors.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="registration">
	  <h2>Register Now!</h2>
            {% include registration-index.html %}
        </div>
    </div>
</div>
